<footer id="page-footer">
  <p>
  	<a href="https://www.ukwda.org/member?mid=113384&amp;key=112750e45514a03db097dc0ef5fc9a12" target="_blank">
  		<img src="/img/ukwda_registered_rgb_web_blue_bg.png" alt="UKWDA Registered">
  	</a>
  	<a href="http://discovery.ariba.com/profile/AN01017267031">
  		<img alt="View CODESIGN2 profile on Ariba Discovery" src="/img/ariba_badge_245x100.jpg">
  	</a>
  	<a href="https://www.approvedbusiness.co.uk/codesign2/company.aspx" style="display: inline-block; text-decoration:none; color:#fff; font-family:Arial, sans-serif; font-size:11px; vertical-align: bottom;" target="_blank">
  		<span>
  			<img src="/img/approvedbusiness.gif" alt="We're an Approved Business" style="float: left; margin-right: 1em;" />We've been approved by <br/><span style='color:#43adb9;'>approved</span>business.co.uk
  			<span style="clear: both; display: block; width: 100%; zoom: 1; display: table;">&nbsp;</span>
  		</span>
  	</a>
  </p>
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js" rel="dns-prefetch"></script>
	<script type="text/javascript" src="/js/jquery.smooth-scrolling.js" rel="dns-prefetch"></script>
	<script type="text/javascript" src="/js/jquery.nicescroll.min.js" rel="dns-prefetch"></script>
	<script type="text/javascript" src="/js/app.js" rel="dns-prefetch"></script>
</footer>
