<!doctype html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>
	<body id="top">
		<header>
			<h1>CD<em>2</em></h1>
			<span class="section-nav">
				<a href="#top" title="Back To Top">{% include chevron-up.svg %}<span class="sr-only">Back To Top</span></a>
			</span>
		</header>
		{% include header.html %}
		<div class="bodywrap">
			{% include content-section.html field="title" value="call-now" %}
			{{ content }}
		</div>
		<div class="push"></div>
		{% include footer.html %}
	</body>
</html>
